.header {
    background-image: url('../img/VectorSmartObject320@1x.jpg');
    background-size: cover;
    padding: 20px 0 140px;
}
.header_head {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.authorize {
    width: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.authorize_item {
    border: none;
    background:none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: white;
    padding: 12px 20px;
    outline: none;
}
.authorize_item:hover {
    padding: 10px 18px;
    border: 2px solid #fff;
    border-radius: 21px;
}
.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    padding: 115px 0 38px;
}
.header_title {
    display: flex;
    flex-direction: column;
}
.title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: white;
}
.subtitle {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    width:217px;
    margin: 19px auto;
}
.title_button {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: auto;
    width: 190px;
    background-color: #ff4e50;
    padding: 12px 50px;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .header {
        background-image: url('../img/VectorSmartObject768@1x.jpg');
        padding-bottom: 234px;
    }
    .header_head {
        flex-direction: row;
        width: 669px;
        margin: 0 auto 160px;
        justify-content: space-between;
    }
    .logo {
        padding: 0;
    }
    .title {
        font-size: 52px;
        width: 520px;
        margin: auto;
    }
    .subtitle {
        width: 400px;
        margin: 40px auto 34px;
    }
    .title_button {
        padding: 12px 20px;
    }
}

@media (min-width: 1440px) {
    .header {
        background-image: url('../img/VectorSmartObject1440@1x.jpg');
        padding-bottom: 234px;
    }
    .header_head {
        width: 940px;
    }
    .subtitle {
        font-size: 24px;
    }
}
