.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 68px 0 60px;
}
.main_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-bottom: 14px;
}
.partner {
    display: flex;
    flex-direction: column;
}
.avatar {
    display: flex;
    justify-content: center;
    width: 122px;
    height: 122px;
    margin: auto;
    position: relative;
}
.photo {
    border-radius: 100%;
}
.icon1, .icon2, .icon3, .icon4 {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px;
    border-radius: 100%;
    border: 4px solid white;
}
.icon1 {
    background-color: #ff4e50;
}
.icon2 {
    background-color: #ffa507;
    padding: 8px 10px;
}
.icon3 {
    background-color: #1cd7ad;
}
.icon4 {
    background-color: #4e73db;
}
.name {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.about {
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #c1c1c1;
    width: 217px;
    margin: 19px auto 27px;
}
.other {
    color: #ff4e50;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: auto;
    width: 140px;
    text-align: center;
    border: 2px solid #ff4e50;
    padding: 10px 70px;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .partner {
        height: 500px;
        width: 520px;
        flex-wrap: wrap;
        margin: auto;
    }
    .main_title {
        margin-bottom: 31px;
    }
    .other {
        padding: 10px 25px;
    }
}

@media (min-width: 1440px) {
    .partner {
        height: auto;
        width: 914px;
        flex-direction: row;
        justify-content: space-between;
    }
    .about {
        margin: 19px auto 39px;
    }
    .order:nth-child(1) {
        order: 1;
    }
    .order:nth-child(2) {
        order: 3;
    }
    .order:nth-child(3) {
        order: 2;
    }
    .order:nth-child(4) {
        order: 4;
    }
}
