* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    color: #626262;
}
.container {
    width: 900px;
    margin: 0 auto;
}
.menu {
    display: flex;
    justify-content: space-around;
    margin-top: 77px;
}
.menu_item {
    list-style-type: none;
}
.item_name {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}
.item_name:hover {
    color: #03a9f4;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col {
    width: 420px;
}
.col img {
    margin-top: 105px;
}
.title {
    font-size: 30px;
    margin-bottom: 34px;
}
.title::first-letter {
    text-transform: uppercase;
}
.subtitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
    margin: 31px 0 28px;
}
.text {
    font-size: 14px;
}
.button {
    display: block;
    border: none;
    font-size: 20px;
    background-color: #fff;
    padding: 22px 34px;
    border: 1px solid;
    margin: 76px auto 70px;
}